:root {
  // Shadows
  --dialog-strong: 0px 16px 48px 0px rgba(22, 22, 22, 0.24);
  --dialog: 0px 0px 0px 1px rgba(22, 22, 22, 0.12), 
            0px 12px 30px 0px rgba(22, 22, 22, 0.16), 
            0px 2px 3px 0px rgba(22, 22, 22, 0.12);
  --content: 0px 2px 3px 0px rgba(22, 22, 22, 0.08);
  --canvas: 0px 0px 0px rgba(0, 0, 0, 0);
  --keyboard-key: 0 2px 0px var(--grey4);

  // Focus
  --focus-default: 0px 0px 0px 2px var(--blue5);
  --focus-accent: 0px 0px 0px 2px var(--blue8);
  --focus-inverse: 0px 0px 0px 2px var(--white);

  // Border widths
  --border-muted-width-01: inset 0px 0px 0px 1px var(--grey2);
  --border-muted-width-02: inset 0px 0px 0px 2px var(--grey2);
  --border-muted-width-04: inset 0px 0px 0px 4px var(--grey2);
  --border-width-01: inset 0px 0px 0px 1px var(--grey4);
  --border-width-02: inset 0px 0px 0px 2px var(--grey4);
  --border-width-04: inset 0px 0px 0px 4px var(--grey4);
  --border-strong-muted-width-01: inset 0px 0px 0px 1px var(--grey6);
  --border-strong-muted-width-02: inset 0px 0px 0px 2px var(--grey6);
  --border-strong-muted-width-04: inset 0px 0px 0px 4px var(--grey6);
  --border-bottom-muted-width-01: inset 0px -1px 0px var(--grey2);
  --border-bottom-width-01: inset 0px -1px 0px var(--grey4);
  --border-bottom-strong-width-01: inset 0px -1px 0px var(--grey6);
  --border-bottom-muted-width-02: inset 0px -2px 0px var(--grey2);
  --border-bottom-width-02: inset 0px -2px 0px var(--grey4);
  --border-bottom-strong-width-02: inset 0px -2px 0px var(--grey6);
}