:root {
  --spacing-00: 0rem;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.375rem;
  --spacing-04: 0.5rem;
  --spacing-05: 0.75rem;
  --spacing-06: 1rem;
  --spacing-07: 1.25rem;
  --spacing-08: 1.5rem;
  --spacing-09: 2rem;
  --spacing-10: 2.5rem;
  --spacing-11: 3rem;
  --spacing-12: 3.5rem;
  --spacing-13: 4rem;
  --spacing-14: 4.5rem;
  --spacing-15: 5rem;
  --spacing-16: 6rem;
  --spacing-17: 7.5rem;
  --spacing-18: 10rem;
}